[Unit]
Description=Jetson Telemtry Service

[Service]
WorkingDirectory=/home/uwarg-jetson/Desktop/kitchen-sinks/vectornav-competition
ExecStart=/usr/bin/python3 /home/uwarg-jetson/Desktop/kitchen-sinks/vectornav-competition/jetsontelemetry.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
